{% extends 'base_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}" />
{% endblock %}

{% block body %}
<div id="formContent">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h2 class="fadeIn first text-primary m-3">Авторизация</h2>

        <input type="text" value="{{ last_username }}" id="inputEmail" class="fadeIn second" name="email" placeholder="example@mail.ru" autocomplete="email" required autofocus>
        <input type="password" name="password" id="inputPassword" class="fadeIn third mb-3" autocomplete="current-password" placeholder="password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <input class="fadeIn fourth mt-3" type="submit" value="Log In"/>
    </form>

{#    <div id="formFooter">#}
{#        <a class="underlineHover" href="#">Forgot Password?</a>#}
{#    </div>#}

</div>
{% endblock %}
