{% extends 'base.html.twig' %}

{% block body %}
    {% if not app.user.learningPrograms.toArray %}
        <p class="mt-4">Учебных программ не найдено</p>
    {% else %}
        <h4 class="mt-4">Учебные программы</h4>
        <div class="accordion mt-4" id="accordionLP">
            {% for learningProgram in app.user.learningPrograms %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingLP{{ learningProgram.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLP{{ learningProgram.id }}" aria-expanded="false" aria-controls="collapseLP{{ learningProgram.id }}">
                            {{ learningProgram.name }}
                        </button>
                    </h2>
                    <div id="collapseLP{{ learningProgram.id }}" class="accordion-collapse collapse" aria-labelledby="headingLP{{ learningProgram.id }}" data-bs-parent="#accordionLP">
                        <div class="list-group list-group-flush">
                            {% for lesson in learningProgram.lessons %}
                                <a href="{{ path('app_lesson', {id: lesson.id}) }}" class="list-group-item list-group-item-action" aria-current="true">
                                    {{ lesson.name }}
                                    <span class="badge bg-info">{{ lesson.typeName }}</span>
                                    <div class="text-muted">{{ lesson.previewDescription }}</div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
