{% extends 'base.html.twig' %}

{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="card-title">{{ lesson.name }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{ lesson.typeName }}</h6>
            <p class="card-text">{{ lesson.description|replace({"\n":"<br>"})|raw }}</p>
        </div>
    </div>
{% endblock %}
