{% extends 'base.html.twig' %}

{% block body %}
<div class="row mt-4">
    <div class="col-12 col-md-4 mb-3">
        <div class="list-group" id="list-tab" role="tablist">
            {% for key, type in lessonTypes %}
                <a class="list-group-item list-group-item-action"
                   id="list-lesson-{{ key }}"
                   data-bs-toggle="list"
                   href="#list-{{ key }}"
                   role="tab"
                   aria-controls="list-{{ key }}">
                    {{ type }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="tab-content" id="nav-tabContent">
            {% for key, type in lessonTypes %}
                <div class="tab-pane fade" id="list-{{ key }}" role="tabpanel" aria-labelledby="list-profile-{{ key }}">
                    {% if not lessons|default([]) %}
                        Ничего не найдено
                    {% else %}
                        <div class="row">
                            {% for lesson in lessons[key] %}
                                <div class="col-md-6 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ lesson.name }}</h5>
                                            <p class="card-text">{{ lesson.previewDescription }}</p>
                                            <a href="{{ path('app_lesson', {id: 1}) }}" class="card-link">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
